* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 1438px;
    height: 1016px;
    background-color: #F4F4F4;
}


/* MENU PRINCIPAL */

nav ul ul {
    display: none;
}
nav ul li:hover > ul {
    display: block;
}
nav {
    margin: 0 auto;
    text-align: center;
}
nav ul {
	padding: 0 20px;
	list-style: none;
	position: relative;
	display: inline-table;
}

nav ul li {
  float: left;
}
nav ul li:hover {
  opacity: 0.8;
}
nav ul li:hover a {
  color: #fff;
}
		
nav ul li a {
  display: block; 
  padding: 15px 20px;
  color: #757575; 
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 380;
}

nav ul ul {
  background: #9FB4A1; 
  border-radius: 0 0 15px 15px; 
  padding: 0;
  position: absolute; 
  top: 100%;
}
		
nav ul ul li a {
  padding: 15px 20px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 380;
}	
				

nav ul ul ul {
  position: absolute; 
  left: 100%; 
  top:0;
}


header .menu-principal{
    background-color: #184528;
    opacity: 0.9;
    padding-left: 47px;
    height: 70px;
    width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 }

 header .menu-principal a{
     color: white;
     font-family: 'Roboto', sans-serif;
     font-size: 20px;
     font-weight: 380;
     text-decoration:none;
     margin-right: 26px;
 }

 header .menu-principal h2{
    color: white;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-left: 100px;
}

header .menu-principal a:hover{
   opacity: 0.7;
   font-family: 'Roboto', sans-serif;
   font-size: 20px;
   font-weight: 380;
}


.menu-principal figure.photo-profile{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 15px black;
    background-image: url('./img/fundo-quadrado.png');
}

.menu-principal figure.photo-profile img{
    position: absolute;
    border-radius: 50%;
    background-color: #DBE3D4;
}
 
/* TOPO BUSCA */
.topo-busca{
    background: white;
    width: 1170px; 
    height: 205px; 
    border-radius: 20px 20px 0 0;
    margin: 132px 135px 0 135px;
}

.topo-busca h2{
    padding-top: 22px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family:'Poppins', sans-serif;
 }

 .buscas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 252px 0 10px;
 }

 .buscas h3{
     font-size: 20px;
     font-family:'Roboto', sans-serif;
     font-weight: 400;
 }

.image{
    width: 55px;
    height: 3px;
    text-indent: 565px;
 }

.maxWidth{
    display: flex;
    flex-direction: row;
    align-items: center;
}

 .input{
     padding: 10px;
     margin-top: 10px;
     margin-bottom: 10px;
     outline-color: black;
     color: cadetblue;
     font-weight: bold;
     box-sizing: border-box;
 }

 #tabela{
     width: 100%;
     border-collapse: collapse;
     margin-top: 65px;
 }

 table,th,td{
     border: none;
 }

 tr:nth-child(even){
     background-color: #f2f2f2;
 }
 tr:hover{
     background-color: #f5f5f5;
 }

td{
    height: 60px;
    width: 1400px;
    text-align: center; 
    vertical-align: middle;
    font-size: 16px;
    font-family:'Roboto', sans-serif;
    font-weight: 430;
}


table tr td:first-child{
    background-image: url('./img/icone-vaca.png');
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center center;
}


 /*Definido cor das linhas pares*/
table tr:nth-child(even) {
    background: #DBE3D4
}
         
 /*Definindo cor das Linhas impáres*/
 table tr:nth-child(odd) {
     background: #A0B88E
}       

#txtBusca1{
    width: 200px;
    height: 30px;
    background-color: #C4C4C4;
    border-radius: 5px;
    border: none;
    color: black;
}
#txtBusca2{
    width: 200px;
    height: 30px;
    background-color: #C4C4C4;
    border-radius: 5px;
    border: none;
    color: black;
}
#txtBusca3{
    width: 65px;
    height: 30px;
    background-color: #C4C4C4;
    border-radius: 5px;
    border: none;
    color: black;
}

#tbody{
    margin: 0 135px 0 -111px;
    position: relative;
}


/* DESCRIÇÕES */
.hidden{
    display: none;
    margin: 90px auto;
    position: relative;
    background-color: #E5E5E5; 
    height: 434px;
    width: 1170px;
    border-radius: 5px;
    /* for IE */
    box-shadow: 0 0 0 1000px rgba(139, 138, 138, 0.3);
    /* for real browsers */
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.3);
}



/*
#showmehideme1{
    margin: 80px 135px 0 135px;
    background-color: #E5E5E5; 
    position: relative;
    height: 434px;
    width: 1171px;
}

#showmehideme2{
    margin: 160px 135px 0 135px;
    background-color: #E5E5E5; 
    position: relative;
    height: 434px;
    width: 1171px;
}
#showmehideme3{
    top: 200px;
    left: 135px;
    background-color: #E5E5E5; 
    position: relative;
    height: 434px;
    width: 1171px;
}
#showmehideme4{
    margin: 320px 135px 0 135px;
    background-color: #E5E5E5; 
    position: relative;
    height: 434px;
    width: 1171px;
}
#showmehideme5{
    margin: 400px 135px 0 135px;
    background-color: #E5E5E5; 
    position: relative;
    height: 434px;
    width: 1171px;
}
*/

.descricoes h2{
    padding-top: 31px; 
    padding-left: 99px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; 
}

.descricoes dl{
   line-height: 34px;
}
.descricoes dt,h3{
    color: black;
    font-size: 18px; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.descricoes dd {
    color: black;
    opacity: 0.7;
    font-size: 15px; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

aside{
    margin-left: 504px;
    width: 173px;
    overflow: hidden;
    overflow-y: scroll;
    height: 88px;
    background-color: #C4C4C4;
    padding: 3px 16px;
    border-radius: 3px;
    color: black;
    opacity: 0.7;
    font-size: 15px; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

#imggado1{
    width: 255px; 
    height: 255px; 
    margin-left: 830px; 
    margin-top: -200px;
    border: solid black;
    border-radius: 10px;
}

#btn-edit{
    margin-top: 20px;
    margin-left: 502px;
    height: 30px;
    width: 170px;
    color: black;
    font-size: 18px; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

#input-esconder{
    position: relative;
    top: 15px;
    left: 443px;
    height:35px; 
    width:35px;
}

#input-mostrar{
    position: relative;
    left: 50px;
    height:30px; 
    width:26px;
}
/* RESPONSIVE */
@media screen and (max-width: 480px){
    .topo-busca h2{
        font-size: 40px;
        height: 500px;
        background-color: white;
    }
    .topo-busca h3{
        margin-left: auto;
        font-size: 35px;
    }
    .buscas{
       display:  flex;
       flex-direction: column;
       margin-left: 20%;
       margin-top: -380px;
    }
    #tabela tbody td{
       display:  flex;
       flex-direction: column;
       text-align: center;
       width: 100%;
       font-size: 30px;
    }
    #tabela tr{
        height: 20%;
        width: 100%;  
        display: flex; 
        flex-direction: column; 
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #input-mostrar{
       margin-left: 43%;
       width: 60px;
       height: 60px;
       margin-bottom: 20px;
    }
    #tabela tr td:first-child{
        background-size: 60px;
        margin-bottom: 30px;
    }
    .hidden{
        height: 500px;
        box-shadow: 0 0 0 4000px rgba(139, 138, 138, 0.3);
        /* for real browsers */
        box-shadow: 0 0 0 500vmax rgba(0, 0, 0, 0.3);
    }
    .descricoes{
        margin-top: -80px;
    
    }
    .descricoes h2{
        font-size: 35px;
        margin-bottom: 30px;
    }
    .descricoes dt, h3{
        font-size: 30px;
        
    }
    .descricoes dd, p{
        font-size: 20px;
    }
    #imggado1{
        margin-bottom: -40px;
    }   
}
@media only screen and (min-width: 1200px){
    .maxWidth{
        width:100%;
    }
    #tabela tbody tr td:nth-child(all){
        width:10%;
        height: 20%;
    }
}
